@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'responsive';

#download {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: black;
	height: 22.86vw;
	overflow: hidden;
	@include tablet-down {
		height: 45.72vw;
	}
	@include phone-only {
		height: 100vw;
	}
}

#download-image {
	opacity: 0.4;
	height: 100%;
}

#download-container {
	position: absolute;
	width: 80vw;
	height: 14.51vw;
	padding: 3.57vw 10vw 4.78vw 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	@include tablet-down {
		padding: 7vw 10vw 9.5vw 10vw;
		height: 29vw;
	}
	@include phone-only {
		padding: 22vw 10vw 23vw 10vw;
		height: 55vw;
	}
}

#download-title {
	font-size: 2.6vw;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	margin: 0;
	text-align: center;
	@include tablet-down {
		font-size: 5.2vw;
	}
	@include phone-only {
		font-size: 7.8vw;
	}
}

#download-divider {
	background: white;
	width: 4.5vw;
	min-height: 2px;
	@include tablet-down {
		width: 6.75vw;
	}
	@include phone-only {
		width: 12vw;
	}
}

#download-description {
	font-size: 1.14vw;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	margin-top: 0;
	opacity: 0.8;
	text-align: center;
	@include tablet-down {
		font-size: 2.28vw;
	}
	@include phone-only {
		font-size: 3.42vw;
	}
}

#download-button {
	width: 9.71vw;
	height: 3vw;
	font-size: 1.07vw;
	font-family: "Open Sans", sans-serif; 
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	color: white;
	outline: 0;
	cursor: pointer;

	&:hover, &:active {
		background-color: #FF8B38;
	}
	transition: 0.2s;

	@include tablet-down {
		width: 19.42vw;
		height: 6vw;
		font-size: 2.14vw
	}
	@include phone-only {
		width: 29.13vw;
		height: 9vw;
		font-size: 3.21vw
	}
}