@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'responsive';

#features1 {
	padding: 10vw 10vw 7.14vw 10vw;
	display: flex;
	justify-content: space-between;
	background-color: #F5F5F5;

	@include tablet-down {
		flex-direction: column;
		align-items: center;
	}
}

#features-tabs-wrapper {
	display: flex;
	@include tablet-down {
		margin-top: 5vw;
		width: 80vw;
	}
}

#features-tabs {
	margin-right: 6vw;
}

.feature-tab {
	width: 8vw;
	height: 8vw;
	background: #333333;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.07vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	cursor: pointer;

	&:hover {
		background-color: #DF6B18;
	}
	&:active, &.active {
		background-color: #FF8B38;
	}
	transition: 0.2s;

	@include tablet-down {
		width: 16vw;
		height: 16vw;
		font-size: 2vw;
	}
	@include phone-only {
		font-size: 3vw;
	}
}

#feature-tab1 {
	border-radius: 0.36vw 0.36vw 0 0;
	@include tablet-down {
		border-radius: 0.72vw 0.72vw 0 0;	}
	@include phone-only {
		border-radius: 1vw 1vw 0 0;
	}
}

#feature-tab2 {
	border-top: 1px #F5F5F5 solid;
	border-bottom: 1px #F5F5F5 solid;
	@include phone-only {
		border-top: 2px #F5F5F5 solid;
		border-bottom: 2px #F5F5F5 solid;
	}
}

#feature-tab3 {
	border-radius: 0 0 0.36vw 0.36vw;
	filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.2));
	@include tablet-down {
		border-radius: 0 0 0.72vw 0.72vw;
	}
	@include phone-only {
		border-radius: 0 0 1vw 1vw;
	}
}

#features-contents {
	width: 40%;
	display: flex;
	align-items: flex-start;
	padding-top: 0.3vw;
	@include tablet-down {
		padding-top: 0.6vw;
	}
	@include phone-only {
		padding-top: 1vw;
		height: 65vw;
	}
}

.features1-text {
	position: absolute;
	width: 31.5vw;
	display: flex;
	opacity: 1;
	transition: opacity linear 0.15s;
	flex-direction: column;
	justify-content: space-between;	
	align-items: flex-start;
	@include tablet-down {
		width: 60vw;
	}
}

.features1-title {
	font-size: 1.43vw;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin-top: 0;
	@include tablet-down {
		font-size: 3vw;
	}
	@include phone-only {
		font-size: 4vw;
	}
}

.features1-description {
	font-size: 1vw;
	color: #86878b;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	@include tablet-down {
		font-size: 2vw;
	}
	@include phone-only {
		font-size: 2.5vw;
	}
}

.feature-download {
	width: 8.5vw;
	height: 3.14vw;
	margin: 1.43vw 0;
	font-size: 1.07vw;
	font-family: "Open Sans", sans-serif; 
	background-color: #FF8B38;
	font-weight: 600;
	border-style: none;
	border-radius: 0.22vw;
	filter: drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.2));
	color: white;
	outline: 0;
	cursor: pointer;

	&:hover, &:active {
		background-color: #FFA653;
	}
	transition: 0.2s;

	@include tablet-down {
		width: 17vw;
		height: 6.28vw;
		font-size: 2vw;
		border-radius: 0.5vw;
	}
	@include phone-only {
		width: 25.5vw;
		height: 9.42vw;
		font-size: 3vw;
		border-radius: 0.7vw;
	}
}

#features1-image {
	display: flex;
	align-items: center;
	@include tablet-down {
		order: -1;
	}
}

#features-image1 {
	width: 22.86vw;
	height: auto;
	@include tablet-down {
		width: 60vw;
	}
}

#features2 {
	padding: 7.86vw 10vw 7.14vw 10vw;
	display: flex;
	justify-content: space-between;
	@include tablet-down {
		flex-direction: column;
	}
}

#features2-image {
	width: 45%;
	display: flex;
	align-items: center;
	@include tablet-down {
		width: 60vw;
		margin: 0 auto;
	}
}

#features-image2 {
	margin-left: -1.5vw;
	width: 100%;
	height: auto;
	@include tablet-down {
		width: 100%;
		margin: 0;
	}
}

#features2-text {
	width: 43%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		i {
			color: #FF8B38;
			display: inline-block;
			border-radius: 4.29vw;
			border: 0.143vw solid #FF8B38;
			padding: 0.643vw;
			margin-top: 1.05vw;
			margin-right: 1.75vw;

			&:hover, &:active {
				color: #FFC673;
			}
			transition: 0.2s;
		}
	}
	@include tablet-down {
		width: 80vw;

		ul i {
			border-radius: 8.6vw;
			border: 0.286vw solid #FF8B38;
			padding: 1.286vw;
			margin-top: 2.1vw;
			margin-right: 3.5vw;
		}
	}
	@include phone-only {
		ul i {
			border-radius: 12.9vw;
			border: 0.43vw solid #FF8B38;
			padding: 1.93vw;
			margin-top: 3.15vw;
			margin-right: 5.25vw;
		}
	}
}

#features2-title {
	font-size: 1.43vw;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin: 0.72vw 0;
	@include tablet-down {
		font-size: 2.86vw;
		margin: 1.44vw 0;
	}
	@include phone-only {
		font-size: 4.3vw;
		margin: 2.16vw 0;
	}
}

#features2-divider {
	background: #FF8B38;
	width: 4.5vw;
	height: 2px;
	margin: 0.72vw 0;
	@include tablet-down {
		width: 6.75vw;
	}
	@include phone-only {
		width: 12vw;
	}
}

#features2-description {
	font-size: 1vw;
	color: #86878b;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0.72vw 0;
	@include tablet-down {
		font-size: 2vw;
		margin: 1.44vw 0;
	}
	@include phone-only {
		font-size: 3vw;
		margin: 2.16vw 0;
	}
}

.features2-list-container {
	display: flex;
	align-items: flex-start;
}

.features2-list-title {
	font-size: 1vw;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	@include tablet-down {
		font-size: 2vw;
	}
	@include phone-only {
		font-size: 3vw;
	}
}

.features2-list-text {
	font-size: 1vw;
	color: #86878b;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	@include tablet-down {
		font-size: 2vw;
	}
	@include phone-only {
		font-size: 3vw;
	}
}

#features3 {
	padding: 7.86vw 10vw 7.14vw 10vw;
	display: flex;
	justify-content: space-between;
	background-color: #F5F5F5;
	@include tablet-down {
		flex-direction: column;
	}
}

#features3-text {
	width: 33.8vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 1vw;
	@include tablet-down {
		width: 80vw;
	}
}

#features3-title {
	font-size: 1.43vw;
	color: #212121;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin: 0.72vw 0;
	@include tablet-down {
		font-size: 2.86vw;
		margin: 1.44vw 0;
	}
	@include phone-only {
		font-size: 4.3vw;
		margin: 2.16vw 0;
	}
}

#features3-divider {
	background: #FF8B38;
	width: 4.5vw;
	height: 2px;
	margin: 0.72vw 0;
	@include tablet-down {
		width: 6.75vw;
	}
	@include phone-only {
		width: 12vw;
	}
}

#features3-description {
	font-size: 1vw;
	color: #86878b;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0.72vw 0;
	@include tablet-down {
		font-size: 2vw;
		margin: 1.44vw 0;
	}
	@include phone-only {
		font-size: 3vw;
		margin: 2.16vw 0;
	}
}

#features3-image {
	width: 45%;
	@include tablet-down {
		order: -1;
		width: 60vw;
		margin: 0 auto;
	}
}

#features-image3 {
	width: 100%;
	height: auto;
}