@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'responsive';

footer {
	background-color: black;
	padding: 1.43vw 0 1vw 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	@include tablet-down {
		padding: 2.5vw 0 2vw 0;
	}
	@include phone-only {
		padding: 3.3vw 0 3vw 0;
	}
}

#footer-icons {
	font-size: 1.714vw;
	display: flex;
	justify-content: space-between;

	i {
		margin: 0 1vw;
		color: #CCCCCC;
		transition: 0.2s;
		&:hover, &:active {
			color: white;
		}
		@include tablet-down {
			margin: 0 2vw;
		}
		@include phone-only {
			margin: 0 3vw;
		}
	}

	@include tablet-down {
		font-size: 3.428vw;
	}
	@include phone-only {
		font-size: 5.142vw;
	}
}

#footer-text {
	font-size: 0.86vw;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	opacity: 0.5;
	margin: 0.86vw 0 0 0;

	@include tablet-down {
		font-size: 1.72vw;
	}
	@include phone-only {
		font-size: 2.58vw;
	}
}