@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import 'responsive';

#pricing {
	padding: 5.7vw 10vw 5.7vw 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #F5F5F5;
}

#pricing-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pricing-title {
	font-size: 2.6vw;
	color: #212121;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	margin: 0;
}

#pricing-divider {
	background: #FF8B38;
	width: 4.5vw;
	height: 2px;
}

#pricing-text {
	font-size: 1vw;
	color: #86878b;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin-top: 0;
}

#pricing-2 {
	width: 100%;
	margin-top: 3.2vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.pricing-2-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 32%;
}

.pricing-name-container {
	width: 100%;
	height: 4.21vw;
	background-color: #333333;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid white;
}

.pricing-name {
	font-size: 1.43vw;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.pricing-price-container{ 
	width: 100%;
	height: 10.71vw;
	background-color: #333333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.pricing-price {
	font-size: 2.5vw;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	margin: 0;
	margin-top: -0.6vw;

	span {
		font-size: 7vw;
		text-shadow: 0px 0.1vw, 0.1vw 0px, 0.1vw 0.1vw;
	}
}

.pricing-description {
	font-size: 1vw;
	color:white;
	opacity: 0.5;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-top: 0;
}

.pricing-orange-small {
	width: 100%;
	height: 5px;
	background-color: #FF8B38;
}

.pricing-orange-big {
	width: 100%;
	height: 2.85vw;
	background-color: #FF8B38;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pricing-orange-text {
	font-size: 1vw;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.pricing-detail-container {
	width: 100%;
	height: 2.93vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #F5F5F5;
}

.pricing-detail {
	font-size: 1vw;
	color: #86878b;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}